.carousel {
	display: flex;
	position: relative;
	left: -100%;
	transform: translateX(100%);
	@media (min-width: 32.813em) {
		left: -50%;
		transform: translateX(50%);
	}
	@media (min-width: 40em) {
		left: -33.33333%;
		transform: translateX(33.33333%);
	}
	@media (min-width: 64em) {
		left: -25%;
		transform: translateX(25%);
	}
	&.revers {
		transform: translateX(-100%);
		@media (min-width: 30em) {
			transform: translateX(-50%);
		}
		@media (min-width: 40em) {
			transform: translateX(-33.33333%);
		}
		@media (min-width: 64em) {
			transform: translateX(-25%);
		}
	}
	&.set {
		transform: none !important;
		transition: transform 0.5s ease-in-out;
	}
	&__item {
		height: 370px;
		flex: 1 0 100%;
		order: 2;
		position: relative;
		overflow: hidden;
		&:hover {
			.carousel__item-overlay {
				opacity: 1;
				.carousel__item-view {
					transform: translateY(0) scale(1);
				}
				p,
				h6 {
					opacity: 1;
					transform: translateY(0) scale(1);
				}
			}
		}
		@media (min-width: 32.813em) {
			flex-basis: 50%;
			border-right: .5px solid transparent;
			border-left: .5px solid transparent;
		}
		@media (min-width: 40em) {
			flex-basis: 33.33333%;
		}
		@media (min-width: 64em) {
			flex-basis: 25%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		&-overlay {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all .4s ease-in;
			background-color: rgba(0, 0, 0, 0.75);
			z-index: 1;
			padding-top: 75px;
			h6 {
				font-size: 27px;
				line-height: 32px;
				color: aliceblue;
				padding-bottom: 40px;
				transform: translateY(30px) scale(.9);
				transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
			}
			p {
				font-size: 18px;
				color: cornsilk;
				font-style: italic;
				transform: translateY(15px);
				transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
			}
			h6,
			p {
				padding-left: 10px;
				padding-right: 10px;
				opacity: 0;
				text-align: center;
			}
		}
		&-view {
			display: inline-block;
			padding: 14px 31px;
			color: white;
			font-size: 21px;
			line-height: 1;
			margin-bottom: 60px;
			border: 1px solid transparent;
			box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
			outline: 1px solid rgba(255, 255, 255, .5);
			outline-offset: 0;
			text-shadow: none;
			transform: translateY(-20px) scale(.8);
			transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
			&:hover {
				border: 1px solid;
				box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
				outline-color: rgba(255, 255, 255, 0);
				outline-offset: 15px;
				text-shadow: 1px 1px 2px #427388;
			}
		}
		&.ref {
			order: 1;
		}
	}
	&--wrap {
		overflow: hidden;
		position: relative;
	}
	&__nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		padding: 7px;
		z-index: 2;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 3px;
		transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
		&:hover {
			background-color: rgba(255, 255, 255, 0.55);
			box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
		}
		svg {
			pointer-events: none;
		}
		&.prev {
			left: 7px;
		}
		&.next {
			right: 7px;
		}
	}
}


.carouselView {
	&--wrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.96);
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transform: scale(.3);
		transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
		&.active {
			z-index: 3;
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}
	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 55px);
		@media (min-width: 32.813em) {
			width: 90%;
		}
		@media (min-width: 64em) {
			height: 90%;
		}
		img {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: contain;
			@media (min-width: 64em) {
				object-fit: cover;
			}
		}
	}
	&__close {
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 40px;
		transform: translate(50%, -50%);
		padding: 7px;
		z-index: 2;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 3px;
		transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
		&:hover {
			background-color: rgba(255, 255, 255, 0.55);
			box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
		}
		svg {
			pointer-events: none;
		}
	}
}

.no-scroll {
	overflow: hidden;
	body {
		overflow: hidden;
	}
}