html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	font-family: $ff-Montserrat;
	color: black;
	height: 100%;
}

header {
	h1 {
		font-size: 30px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 50px;
	}
}
footer {
	border-top: 1px solid black;
	margin-top: auto;
	p {
		font-size: 16px;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 20px;
	}
}